@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

html {
    --primary: #fff;
    --secondary: #0d1226;
    
    --white: var(--primary);
    --black: var(--secondary);

    --accent: #5465ff;
    --accent-2: #bfd7ff;

    --placeholder: #f1f2f4;
    --gray: #929292;

    --error: #ee5555;
}

body {
    margin: 0;
    
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;

    height: 100dvh;

    background-color: var(--primary);
}

h2, h3, h4, h5, h6, p, label, button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;

    margin: 0;
    color: var(--secondary);
}

h4 {
    font-size: 1.25rem;
}

p, button {
    font-weight: 400;
}

label {
    font-weight: 300;
}

button {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;

    font-size: 1rem;

    background-color: var(--accent);
    color: var(--primary);
}

header {
    padding: 1rem;
    
    h1 {
        display: block;
        margin: auto;
        
        font-family: 'Playfair Display SC', serif;
        font-size: 3rem;

        color: var(--accent);
        
        text-align: center;
    }
}


main {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    gap: 4rem;
    .not-connected {
        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: center;

        gap: 2rem;

        .graphic-not-connected {
            background-color: var(--placeholder);
            height: 190px;
            width: 230px;
        }
    }
}

footer {
    background-color: var(--accent);
    color: var(--footer);

    display: flex;

    section {
        width: 100%;

        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: end;
        
        gap: 0.25rem;

        margin-bottom: 0.25rem;
        margin-inline: 0.63rem;
        
        .triangle {
            fill: var(--primary);
        }

        .circle {
            width: 2rem;
            aspect-ratio: 1;

            fill: var(--accent-2);
        }

        label {
            font-size: 0.75rem;
        }
    }
}

.chart {
    background-color: var(--placeholder);
    border-radius: 1rem;

    width: calc(100dvw - 1rem);
    aspect-ratio: 16 / 9;
}